@charset "utf-8";
/* CSS Document */

body
{
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
}

A:link {
	text-decoration: none; 
	color:blue;
}

A:visited {
text-decoration: none; 
color:blue;
}

A:active {
text-decoration: none; 
color:blue;
}

A:hover {
text-decoration: underline; 
color: red;
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

img{
border:0;
}

.headerLeft{ 
	text-align: left;
}

.headerRight{
	text-align: right;
}

.mainTable{
width:100%;
}

#container{
margin-left:auto;
margin-right:auto;
border-style:solid;
border-width:thin;
width:800px;
height:auto;
}

#header{
background-color:#FFFFFF;
border-bottom-style:solid;
border-bottom-width:thin;
overflow:hidden;
}

#content{
max-height:490px;
position:inherit;
overflow:auto;
padding-top:4px;
padding-bottom:4px;
}

#whos_online{
border-top-style:solid;
border-top-width:thin;
overflow:hidden;
text-align:center;
height:auto;
}

#footer{
height:auto;
border-top-style:solid;
border-top-width:thin;
overflow:hidden;
text-align:center;
}

#menu{
height:auto;
overflow:hidden;
padding-bottom:3px;
border-bottom-style:solid;
border-bottom-width:thin;
text-align:center;
}

.bodyTable{
text-align:center;
border-left:solid;
border-left-width:thin;
border-top:solid;
border-top-width:thin;
border-right:solid;
border-right-width:thin;
}

.galleryTable{
text-align:center;
}

.tableTD{
border-bottom:solid;
border-bottom-width:thin;
}

th{
background-color:#CCCCCC;
border-bottom:solid;
border-bottom-width:thin;
}

.row1{
background-color:#FFFFFF;
}
.row2{
background-color:#CCCCCC;
}

.adminSide{
background-color:#CCCCCC;
border-bottom:solid;
border-bottom-width:thin;
border-right:solid;
border-right-width:thin;
}

#scroll{
 max-height:488px;
 overflow:auto;
}