* text=auto !eol
/admin.php -text
/clearlog.php -text
/commentfeed.php -text
/config.php -text
/delete.php -text
/deletecomment.php -text
/deletenews.php -text
/deletepic.php -text
/deleteuser.php -text
/displaypic.php -text
/download.php -text
/editalbum.php -text
/editpic.php -text
/edituser.php -text
/footer.php -text
/gallery.php -text
/header.php -text
images/bullet.gif -text
images/close.gif -text
images/closelabel.gif -text
images/cooliris.png -text
images/css-valid.png -text
images/donate-button.gif -text
images/download-icon.gif -text
images/fail.jpg -text
images/icon_edit.png -text
images/icon_remove.png -text
images/image-1.jpg -text
images/loading.gif -text
images/logo.png -text
images/mymenards.PNG -text
images/nextlabel.gif -text
images/picweblogo.jpg -text
images/prevlabel.gif -text
images/rss.png -text
images/thumb-1.jpg -text
/index.php -text
js/builder.js -text
js/effects.js -text
js/lightbox.js -text
js/scriptaculous.js -text
/login.php -text
/manage.php -text
/media.php -text
/mediap.php -text
/menu.html -text
/public.php -text
/publicget.php -text
/register.php -text
/rss.php -text
/rsscomment.php -text
/scripts.php -text
scripts/comment.php -text
scripts/gallery.php -text
scripts/generateThumb.php -text
scripts/info.php -text
scripts/inputFilter.php -text
scripts/news.php -text
scripts/scripts.php -text
scripts/spry/SpryTabbedPanels.css -text
scripts/spry/SpryTabbedPanels.js -text
scripts/sql.php -text
/stats.php -text
styles/style.css -text
/thumb.php -text
/upload.php -text
/user.php -text
/userget.php -text
